.nav-list {
    margin: 0;
    display: flex;
}

.nav-list_visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 500ms linear;
}

.nav-list__auth-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 11.88px 12px 15.13px;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    margin-bottom: 13px;
}

.nav-list__item {
    margin-right: 34px;
    margin-top: 11px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    color: #B6BCBF;
    text-decoration: none;
}

.nav-list__item_active {
    color: #FFF;
    border-bottom: 3px solid #FFF;
    padding-bottom: 28px;
}

.nav-list__item:last-of-type {
    margin-right: 32px;
}

@media screen and (max-width: 770px) {
    .nav-list {
        margin-right: 0px;
        margin-top: 14px;
    }

    .nav-list__auth-button {
        font-size: 16px;
        line-height: 1.5;
        padding: 8px 14px;
    }

    .nav-list__item {
        margin-right: 16px;
        margin-top: 8px;
        font-size: 16px;
        line-height: 1.5;
    }
    
    .nav-list__item_active {
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 500px) {
    .nav-list {
        flex-direction: column;
        width: 90%;
        margin-bottom: 24px;
    }

    .nav-list__item_active {
        border-bottom: none;
    }

    .nav-list__auth-button {
        width: 100%;
    }

}