@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/robotoslab-regular.woff') format('woff');
}

.search-form {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 42.222%;
    margin: 0 auto;
    padding-bottom: 80px;
}

.search-form__title {
    margin-top: 0;
    margin-bottom: 32px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #B6BCBF;
    text-decoration: none;
}