.app-header {
    display: flex;
    padding-left: 7.225%;
    padding-right: 7.225%;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(196, 196, 196, 0.1);
}

.app-header_with-background {
    background-color: #1A1B22;
}

.app-header__overlay {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 500ms, opacity 500ms;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.app-header__overlay_visible {
    visibility: visible;
    opacity: 1;
    z-index: -1;
    transition: visibility 0s, opacity 500ms linear;
}

.app-header__logo {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 26px;
    color: #FFF;
}

.app-header__menu-button {
    display: none;
    margin-top: 16px;
    width: 24px;
    height: 24px;
    font: inherit;
    color: inherit;
    background-image: url('../../images/menu.svg');
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    background-position: center;
}

.app-header__menu {
    margin-right: 0px;
    margin-top: 19px;
}

.app-header__menu_mobile {
    display: none;
}

.app-header__menu_visible {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #1A1B22;
}

.app-header__close-menu-button {
    margin-top: 16px;
    width: 24px;
    height: 24px;
    font: inherit;
    color: inherit;
    background-image: url('../../images/close.svg');
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    background-position: center;
}

.app-header__menu_mobile_invisible {
    display: none;
}

@media screen and (max-width: 770px) {
    .app-header {
        padding-left: 5%;
        padding-right: 5%;
    }

    .app-header__logo {
        margin-top: 22.73px;
        margin-bottom: 18.47px;
    }

}

@media screen and (max-width: 500px) {
    .app-header {
        
    }

    .app-header__logo {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .app-header__menu {
        display: none;
    }

    .app-header__menu_mobile {
        display: flex;
        padding-left: 5%;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
        background-color: #1A1B22;
    }

    .app-header__menu-button {
        display: block;
    }

}